# Django core
Django>=4.2

# REST framework
djangorestframework

# JWT Authentication
djangorestframework-simplejwt

# CORS headers
django-cors-headers

# Environment variables
python-dotenv

# MySQL database connector
mysqlclient


