@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import 'antd/dist/reset.css';

@import 'react-phone-input-2/lib/style.css';

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
